<% layout('layouts/boilerplate')%>
<h1>FAQ</h1>
<h4>How do I search the map?</h4>
<p>Use the search bar in the upper right of the map to re-center the map for the location you are looking for.</p>
<h4>How do I see loader details on map?</h4>
<p>Simply click on the companies name and it will bring up all the loaders information.</p>
<h4>How do I add a loader?</h4>
<p>Click on "New Loader" on the navagation bar.</p>
<p>Complete the fields (all fields are required).</p>
<p>Be as specific as possible for location.</p>
<p><i>Example: New York, NY </i></p>
<p>Click "Add Loader" button and new loader will be added.</p>
<p>Any errors or missed fields will let you know.</p>
<h4>Why can't I edit or delete a loader?</h4>
<p>In order to have access to edit or delete a loader <b><i>you have to be the original creator</i></b> of that loader on LoaderMap.</p>
<h4>How do I edit a loader?</h4>
<p></p>
<h4>How do I delete a loader?</h4>
<p></p>
<h4>How do I search the list?</h4>
<p><i>...Coming Soon...</i></p>