<!-- <% layout('layouts/boilerplate')%> -->
<div class="jumbotron jumbotron-fluid">
    <div class="container ">
      <h1 class="display-4">Loader App</h1>
      <p class="lead">Welcome to the loader App. Let's find a loader!</p>
      <a class="btn btn-primary"href="/login">Login</a>
        <a class="btn btn-primary"href="/about">Learn More</a>
    </div>
  </div>

