<% layout('layouts/boilerplate')%>

    <h1 class="text-center">Add Loader</h1>
    <div class="row">

        <div class="col-6 offset-3">
            <form action="/loaders" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="company">Company</label>
                    <input class="form-control" type="text" id="company" name="loader[company]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="contact">Contact Name</label>
                    <input class="form-control" type="text" id="contact" name="loader[contact]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="phone">Phone Number</label>
                    <input class="form-control" type="number" id="phone" name="loader[phone]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email Address</label>
                    <input class="form-control" type="text" id="email" name="loader[email]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="city">City</label>
                    <input class="form-control" type="text" id="city" name="loader[city]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="state">State</label>
                    <input class="form-control" type="state" id="state" name="loader[state]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="zip">Zip Code</label>
                    <input class="form-control" type="number" id="zip" name="loader[zip]">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <div class="mb-3">
                    <button class="btn-success">Add Loader</button>
                </div>
            </form>
            <a href="/loaders">All Loaders</a>
        </div>
    </div>