<% layout('layouts/boilerplate')%>

    <h1 class="text-center">Add Loader</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
                <form action="/loaders" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="company">Company</label>
                        <input class="form-control" type="text" id="company" placeholder="Example: Jerry's ATMs" name="loader[company]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="contact">Contact Name</label>
                        <input class="form-control" type="text" id="contact" placeholder="Example: Jerry Garcia" name="loader[contact]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="phone">Phone Number</label>
                        <input class="form-control" type="string" id="phone" name="loader[phone]" placeholder="Example: 415-226-4516" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="email">Email Address</label>
                        <input class="form-control" type="text" id="email" name="loader[email]" placeholder="Example: jerry@deadatms.com" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="loader[location]" placeholder="Example: San Francisco, CA OR 94188" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    
                    </div>
                    <div class="mb-3">
                        <button class="btn-success">Add Loader</button>
                    </div>
                </form>
        </div>
    </div>